name: Docs
permissions:
  contents: read
on:
  pull_request:
    paths:
      - 'docs/**'
      - 'build.sbt'
      - 'project/**'
      - '.github/workflows/ci-docs.yml'

jobs:
  run:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'sbt'
          check-latest: true
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Review
        run: sbt "project docs" clean scalafmtCheck scalafmtSbtCheck paradox paradoxValidateInternalLinks
